.confirmation__button {
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border: none;
  min-height: 36px;
  width: 100%;
  max-width: 53px;
  transition: all 0.2s ease;
  margin: 8px 0px;
}

.confirmation__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.confirmation__text{
  margin: 0px 0px 24px 0px;
}