.weathercard {
  border-radius: 12px;
  border: none;
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  z-index: 0;
}

.weathercard_overlay::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: none;
}

.weathercard__info-container {
  padding: 12px 16px;
  display: grid;
  column-gap: 13px;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'time time'
    'temperature description';
  position: relative;
  z-index: 1;
  align-items: baseline;
}
.weathercard__description {
  color: white;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 500;
  grid-area: description;
  margin: 0;
  align-self: baseline;
}

.weathercard__time {
  color: #ffffffcc;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  grid-area: time;
}
.weathercard__temperature {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  margin: 0;
  grid-area: temperature;
}

.weathercard_night {
  background-color: #286897;
}
.weathercard_day {
  background-color: #00a3ff;
}
.weathercard_elongated {
  flex-basis: 72%;
}
.weathercard_weather_day-cloudy {
  background-image: url('../../images/day-cloudy.svg');
  background-size: content-box;
}
.weathercard_weather_day-rainy {
  background-image: url('../../images/day-rainy.svg');
  background-size: contain;
  background-color: #6ca6c7;
}
.weathercard_weather_day-foggy {
  background-image: url('../../images/day-foggy.svg');
  background-size: content-box;
  background-color: #6ca6c7;
}
.weathercard_weather_day-snowy {
  background-image: url('../../images/day-snowy.svg');
  background-size: contain;
  background-color: #6ca6c7;
}
.weathercard_weather_day-stormy {
  background-image: url('../../images/day-stormy.svg');
  background-size: contain;
  background-color: #6ca6c7;
}
.weathercard_weather_day-sunny {
  background-image: url('../../images/night-sunny.svg');
  background-size: content-box;
}

.weathercard_weather_night-cloudy {
  background-image: url('../../images/night-cloudy.svg');
  background-size: content-box;
}
.weathercard_weather_night-rainy {
  background-image: url('../../images/night-rainy.svg');
  background-size: contain;
}
.weathercard_weather_night-foggy {
  background-image: url('../../images/night-foggy.svg');
  background-size: content-box;
}
.weathercard_weather_night-snowy {
  background-image: url('../../images/night-snowy.svg');
  background-size: contain;
}
.weathercard_weather_night-stormy {
  background-image: url('../../images/night-stormy.svg');
  background-size: contain;
}
.weathercard_weather_night-sunny {
  background-image: url('../../images/night-sunny.svg');
  background-size: content-box;
}
