.form {
  display: flex;
  flex-direction: column;
  font-family: 'CabinetGrotesk-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 8px;
}

.form__title {
  margin: 0;
}

.form__input-container {
  margin: 24px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__input-label {
  margin: 0;
}

.form__input {
  margin: 0;
  padding: 0 0 4px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form__input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.form__button-grp {
  margin: 0;
  padding-top: 32px;
  display: flex;
  gap: 12px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.form__submit-button {
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border: none;
  min-height: 36px;
  width: 100%;
  max-width: 124px;
  transition: all 0.2s ease;
}

.form__submit-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.form__submit-button:hover.form__submit-button_disabled,
.form__submit-button_disabled {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.form__submit-button:hover.form__submit-button_disabled:hover,
.form__submit-button_disabled:hover {
  cursor: not-allowed;
  pointer-events: none;
}

.form__secondary-button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.form__submit-button-wide {
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  border-radius: 4px;
  border: none;
  min-height: 36px;
  width: 100%;
  max-width: 146px;
  transition: all 0.2s ease;
}
.form__submit-button-wide:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}
.form__submit-button-wide:hover.form__submit-button-wide_disabled,
.form__submit-button-wide_disabled {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.form__submit-button-wide:hover.form__submit-button-wide_disabled:hover,
.form__submit-button-wide_disabled:hover {
  cursor: not-allowed;
  pointer-events: none;
}
.form__delete-button {
  background: #ff4d00;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border: none;
  min-height: 36px;
  width: 100%;
  max-width: 124px;
  transition: all 0.2s ease;
  cursor:pointer;
}
.form__text{
  margin:8px 0 0 0;
}
