.footer__text {
  font-family: 'CabinetGrotesk-Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: flex-end;
  color: #000000;
}