.profile{
    display: flex;
    flex-direction: row;
    margin: 47px 0 80px 0;
    box-sizing: border-box;
    font-family: 'CabinetGrotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 1);
}

.profile-sidebar{
    margin:0;
    padding: 0;
}

.profile-clothes{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 93px;
    padding: 0;
}

.clothes-section{
    display: flex;
    flex-direction: column;
    margin: 0 ;
    padding: 0;
}

.clothes-section__info{
    display: flex;
    padding: 0 0 17px 0;
}

.clothes-section__title{
    margin:0;
    padding: 0 20px 0 0;
}

.clothes-section__button{
    margin:0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.6;
}

.clothes-section__button:hover{
    opacity: 1;
}


.clothes-section__list{
    margin:0;
    padding: 0 0 41px 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fit, 325px);
    grid-template-rows: auto;
    grid-gap: 22px;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-clothes{
        align-items: center;
        margin: 0;
    }

    .clothes-section{
        align-items: center;
        width: 100%;
    }

    .clothes-section__info{
        width: 100%;
        justify-content: space-between;
    }

    .clothes-section__list{
        grid-gap: 15px;
    }
  }
  
  @media screen and (max-width: 500px) {
  
  }