.profile{
    display: flex;
    flex-direction: row;
    margin: 47px 0 80px 0;
    box-sizing: border-box;
    font-family: 'CabinetGrotesk-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 1);
}

.profile-sidebar{
    margin:0;
    padding: 0;
}

.profile-clothes{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 0 93px;
    padding: 0;
}


@media screen and (max-width: 800px) {
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-clothes{
        align-items: center;
        margin: 0;
    }

  }
  
  @media screen and (max-width: 500px) {
  
  }