.clothingcard {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  width: 100%;
  height: 100%;
  align-items: center;
}
.clothingcard__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.clothingcard__info-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 16px 0;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.clothingcard__title-and-like {
  display: flex;
  align-items: center;
}
.clothingcard__like {
  background-color: transparent;
  border: none;
  background-image: url(../../images/ClothingCard/heart.svg);
  height: 15px;
  width: 18px;
  background-size: cover;
  padding: 0;
  cursor: pointer;
  transition: 0.3s ease-out opacity;
}
.clothingcard__like:hover {
  opacity: 0.6;
}
.clothingcard__like_active {
  background-image: url(../../images/ClothingCard/heart-liked.svg);
}
.clothingcard__title {
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 4px;
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}
.clothingcard__add-photo {
  padding: 2px 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  border-radius: 4px;
  margin: 0;
  border: none;
}

.clothingcard__image_default {
  width: 75%;
  height: 75%;
  object-fit: contain;
  object-position: baseline;
}

@media screen and (max-width: 750px) {
  .clothingcard__title {
    max-width: 100px;
  }
}

@media screen and (max-width: 425px) {
  .clothingcard__title {
    max-width: 72px;
  }
}
