.preferences__buttons{
  display: flex;
  flex-wrap: wrap;
}

.preferences__button{
  padding: 2px 12px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.6);
  line-height: 20px;
  border-radius: 4px;
  min-height: 24px;
  max-width: 124px;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 8px
}

.preferences__button:hover{
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}

.preferences__button_selected{
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);

}