.navigation {
  height: 40px;
  width: fit-content;
}

.navigation__container {
  min-width: fit-content;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__button {
  margin-left: 20px;
  padding: 0;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: transparent;
  color: #000;
}

.navigation__button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.navigation__link {
  margin-left: 20px;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  display: flex;
}

.navigation__user {
  margin: -8px 0 0 12px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navigation__user_type_none {
  padding: 0;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 20%);
  border-color: rgba(0, 0, 0, 50%);
  border-style: solid;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.navigation__user_location_profile {
  margin: 0 16px 0 0;
  height: 56px;
  width: 56px;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .navigation__user_location_profile {
    margin:0 0 16px 0;
    height: 68px;
    width: 68px;
  }
}
