.weathercard__info-container {
  padding: 12px 16px;
  display: grid;
  column-gap: 13px;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-template-areas:
    'time time'
    'temperature description';
}
