.page {
  margin: 0;
  padding: 0;
  font-family: "CabinetGrotesk-Bold";
  background-color: #DCDCDC;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}